<div class="overlay-layer">

  <section class="age-gate">

    <h1>{{ 'age_gate.welcome' | t }}</h1>
    <h4 class="check">{{ 'age_gate.are_you_of_age' | t }}</h4>

    <a href="https://www.youtube.com/watch?v=ZAAjm4IJhFY" class="no" data-age-gate-reject>{{ 'general.actions.no' | t }}</a>
    <button class="yes" data-age-gate-confirm>{{ 'general.actions.yes' | t }}</button>

    <p class="privacy-notice">{{ 'age_gate.not_of_age' | t }} <a href="/pages/privacy-policy" target="_blank">{{ 'age_gate.privacy_notice' | t }}</a>.</p>
    <p class="age-notice">{{ 'age_gate.age_notice' | t }}</p>
  </section>

</div>