<ul class="main-menu">
  {% for link in linklists.main-menu.links %}
  {% assign child_list_handle = link.title | handle %}
  {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
  <li class="has-dropdown">
    {{ link.title | link_to: link.url }}

    <div class="sub-nav-wrapper">
      <div class="link-wrapper">
        <ul class="sub-nav">
          {% for child_link in linklists[child_list_handle].links %}
          {% assign grand_child_list_handle = child_link.title | handle %}
          {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
          <li class="menu-heading {% cycle '','','image' %}">
            {{ child_link.title | link_to: child_link.url }}
            <ul>
              {% for grand_child_link in linklists[grand_child_list_handle].links %}
              <li class="secondary-menu {% cycle 'first','second','third' %}" %}>
                {% if grand_child_link.object.image %}
                  <div class="collection-image" style="background-image: url('{{ grand_child_link.object.image.src | img_url: 'grande' }}')">
                    <a href="{{ grand_child_link.object.url }}"></a>
                  </div>
                {% endif %}
                {{ grand_child_link.title | link_to: grand_child_link.url }}
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li>
            {{ child_link.title | link_to: child_link.url }}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </li>
  {% else %}
  <li>
    {{ link.title | link_to: link.url }}
  </li>
  {% endif %}
  {% endfor %}
</ul>

