<div class="line-item">
  <div class="image">
    <a href="{{ line_item.product.url }}">
      {{ line_item.product.featured_image | product_img_url: 'medium' | img_tag }}
    </a>
  </div>
  <div class="info">
    <div class="title">
      <span class="product-title">{{ line_item.product.title | link_to: line_item.product.url }}</span><span class="variant-title"> / {{ line_item.variant.option1 | link_to: line_item.product.url }}</span>
    </div>

    <div class="prices" data-price-fr>
      {{ line_item.price | money }}
    </div>

    <div class="quantity">
      Qty: {{ line_item.quantity }}
    </div>

    <div class="sku">
      SKU: {{ line_item.sku }}
    </div>

    {% if line_item.fulfillment %}
    <div class="fulfillment">
      Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
      {% if line_item.fulfillment.tracking_number %} <br />
      <a href="{{ line_item.fulfillment.tracking_url }}">Tracking: {{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>