<div class="overlay-menu">
  <nav>
    <div class="wrapper">
      <ul>
        {% for link in linklists.main-menu-mobile.links %}
        {% if linklists[link.handle] == empty %}
        <li class="top-level">
          <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
            {% assign title = link.title | split: '-' %}
            {% assign new_title = title[0] %}
            {{ new_title }}
          </a>
        </li>
        {% else %}
        <li class="top-level dropdown ">
          <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
            {% assign title = link.title | split: '-' %}
            {% assign new_title = title[0] %}
            {{ new_title }}
          </a>
          <ul class="submenu">
            {% for l in linklists[link.handle].links %}
            <li>
              <a href="{{ l.url }}"{% if l.active %} class="current"{% endif %}>
                {{ l.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
        <li class="top-level">
          <a href="/account">{{ 'general.nav.account' | t }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
