{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch_title = swatch %}

{% if swatch_title == blank or swatch_title == '' %}
  {% assign swatch_title = product.options.first %}
{% endif %}

{% assign sanitized_product_type = product.type | handleize %}
{% if sanitized_product_type == 'beer' %}
  {% assign swatch_title = 'Pack Size' %}
{% endif %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch_title %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch_title | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
  <div class="swatch error">
    <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch_title }}'</code> — that does not belong to your product.</p>
    <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
    <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
  </div>
{% else %}

  <div class="swatch clearfix" data-option-index="{{ option_index }}">
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}
        <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% unless variant.available %}soldout{% endunless %}" data-pack-size="{% if value == 'Single' or product.variants.size == 1 %}1{% else %}{% assign size = value | split: ' ' %}{{ size[0] }}{% endif %}">
          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}

          <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" />

          {% if is_color %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
              <img class="crossed-out" src="{{ 'soldout.svg' | asset_url }}" />
            </label>
          {% else %}

            <div class="variant">
              {% if product.variants.size == 1 %}
                <span>1</span>
              {% else %}
                {% assign variant_label = value | split: ' ' %}
                {% if variant_label.size == 1 %}
                  <span>{{ variant_label[0] | handleize | prepend: 'product_page.' | t }}</span>
                {% else %}
                  <span>{{ variant_label[0] }}</span>
                  <span>{{ variant_label[1] | handleize | prepend: 'product_page.' | t }}</span>
                {% endif %}
              {% endif %}
            </div>

            <div class="variant-price">{{ variant.price | money }}</div>

            <div class="add-variant-to-cart">
              <div gtm-add-to-cart class="variant-button" data-cart-add="{{ variant.id }}" {% include 'gtm_add_product_tags', gtm_product: product, gtm_variant: variant, gtm_quantity: 1 %}>
                {% include 'cart_plus_svg' %}
              </div>
            </div>
            <!--<img class="crossed-out" src="{{ 'sold_out.svg' | asset_url }}" />-->
          {% endif %}

          {% if settings.feature_compare_at_price %}
            <div class="variant-compare-price">{{ variant.compare_at_price | money }}</div>
          {% endif %}
        </div>
      {% endunless %}
    {% endfor %}

    <div class="stock-notifier">
      <div class="stock-level">
        Out of stock
      </div>
    </div>
  </div>

{% endunless %}