{% comment %}
<!--
Arguments:
this_product [Product Liquid Object] - The product object to retrieve attributes from
title [String] - The attribute title to be rendered, as well as the key in the tag key:value pair
image_asset [Boolean] /Default: false/ - Should be true if the property is rendered graphically
-->

<!-- set start flag to false -->
<!-- forloop start -->
<!-- if found, set start flag to true -->
<!-- if found == true && current_tag != match -->
<!-- break -->
<!-- append found to array -->
<!-- endfor -->
{% endcomment %}

<!-- Snippet for rendering Product Details (such as 'Colour') from tags -->
{% assign details = '' %}
{% assign base_details = '' %}


{% comment %}
<!-- Look for tags with the locale tag (e.g. color-es)  -->
{% endcomment %}
{% assign found_start = false %}

{% assign target_tag = title | append: '-' | append: settings.theme_locale | handleize %}
{% for tag in this_product.tags %}
  {% assign split_tag = tag | split: ':' %}
  {% if split_tag[0] == target_tag %}
    {% assign found_start = true %}
    {% unless details == '' %}
      {% assign details = details | append: ',' %}
    {% endunless %}
    {% assign details = details | append: split_tag[1] %}
  {% elsif found_start %}
    {% break %}
  {% endif %}
{% endfor %}

{% comment %}
<!-- If no translated tags matched (or if theme language is set to English), look for base tags (e.g. color) -->
{% endcomment %}
{% assign found_start = false %}

{% assign base_target_tag = title | handleize %}
{% for tag in this_product.tags %}
  {% assign split_tag = tag | split: ':' %}
  {% if split_tag[0] == base_target_tag %}
    {% assign found_start = true %}
    {% unless base_details == '' %}
      {% assign base_details = base_details | append: ',' %}
    {% endunless %}
    {% assign base_details = base_details | append: split_tag[1] %}
  {% elsif found_start %}
    {% break %}
  {% endif %}
{% endfor %}

{% if details == '' %}
  {% assign details = base_details %}
{% endif %}

{% assign base_details = base_details | split: ',' %}
{% assign details = details | split: ',' %}

<div class="meta-detail {{ title | handleize }}">
  <div class="detail-title">{{ title | handleize | prepend: 'general.meta_translations.' | t }}</div>
  {% for detail in details %}
    {% assign base_detail = base_details[forloop.index0] %}
    <div class="value {{ base_detail }}">
        {% if image_asset %}
          <img src="{{ base_detail | handleize | append: '.svg' | asset_url }}" alt="{{ detail | capitalize }}" />
          <span>{{ detail | replace: '//', ',' }}</span>
        {% else %}
          {{ detail | replace: '//', ',' }}{% if details.size > 1 and forloop.index < details.size %},{% endif %}
        {% endif %}
    </div>
  {% endfor %}
</div>