{% include 'redirect_if_logged_in' %}

<div class="customer-content-wrapper">
  <section class="activate-account">
    <h2>{{ 'customer_pages.activate_account.title' | t }}</h2>
    <p>{{ 'customer_pages.activate_account.blurb' | t }}</p>

    {% form 'activate_customer_password' %}
      {{ form.errors | default_errors }}
      <input type="password" value="" name="customer[password]" id="customer-password" size="16" placeholder="{{ 'customer_pages.general.password' | t }}" />

      <input type="password" value="" name="customer[password_confirmation]" id="password-confirmation" class="password-confirmation" size="16" placeholder="{{ 'customer_pages.general.password_confirmation' | t }}" />

      <input type="submit" value="{{ 'customer_pages.activate_account.activate_account' | t }}" class="small" />
      <input type="submit" class="small" name="decline" id="customer-decline" class="customer-decline" value="{{ 'customer_pages.activate_account.decline_invitation' | t }}" />
    {% endform %}
  </section>
</div>