<section class="customer-content-wrapper view-order">
  <section class="order-info-bar">
    <h2>{{ 'customer_pages.general.order' | t }} {{ order.name }}</h2>
    <p class="order-date">{{ 'customer_pages.general.order_properties.placed_on' | t }} {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

    <div class="info">
      <p class="status">{{ 'customer_pages.general.order_properties.payment_status' | t }}: {{ order.financial_status_label }}</p>
      <p class="status">{{ 'customer_pages.general.order_properties.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
    </div>

    <div class="summary">
      <p>{{ 'customer_pages.general.order_properties.subtotal' | t }}: <span data-price-fr>{{ order.subtotal_price | money }}</span></p>

      {% for discount in order.discounts %}
        <p>{{ discount.code }} {{ 'customer_pages.general.order_properties.discount' | t }}: <span data-price-fr>{{ discount.savings | money }}</span></p>
      {% endfor %}

      {% for shipping_method in order.shipping_methods %}
        <p>{{ 'customer_pages.general.order_properties.shipping' | t }} ({{ shipping_method.title }}): <span data-price-fr>{{ shipping_method.price | money }}</span></p>
      {% endfor %}

      {% for tax_line in order.tax_lines %}
        <p>{{ 'customer_pages.general.order_properties.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%): <span data-price-fr>{{ tax_line.price | money }}</span></p>
      {% endfor %}

      <p>{{ 'customer_pages.general.order_properties.total' | t }}: <span data-price-fr>{{ order.total_price | money }}</span> {{ order.currency }}</p>

    </div>
  </section>

  <section class="order-details">
    {% for line_item in order.line_items %}
      {% include 'order_summary_item' %}
    {% endfor %}
  </section>

  <section class="customer">
    {% if order.cancelled %}
      <div id="order-cancelled" class="flash notice">
        <h5 id="order-cancelled-title">{{ 'customer_pages.general.order_properties.order_cancelled' | t }}</h5>
        {{ 'customer_pages.general.order_properties.on' | t }} {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}
        {{ order.cancel_reason }}
      </div>
    {% endif %}

    <section class="address">
      <section class="billing">
        <h4>{{ 'customer_pages.general.order_properties.billing_address' | t }}</h4>
        <div class="details">
          <p>{{ order.billing_address.name }}</p>
          <p>{{ order.billing_address.company }}</p>
          <p>{{ order.billing_address.street }}</p>
          <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
          <p>{{ order.billing_address.zip }}, {{ order.billing_address.country }}</p>
          <p>{{ order.billing_address.phone }}</p>
        </div>
      </section>
      {% if order.shipping_address %}
      <section class="shipping">
        <h4>{{ 'customer_pages.general.order_properties.shipping_address' | t }}</h4>
        <div class="details">
          <p>{{ order.shipping_address.name }}</p>
          <p>{{ order.shipping_address.company }}</p>
          <p>{{ order.shipping_address.street }}</p>
          <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
          <p>{{ order.shipping_address.zip }}, {{ order.shipping_address.country }}</p>
          <p>{{ order.shipping_address.phone }}</p>
        </div>
      </section>
      {% endif %}
    </section>
  </section>

  {% if order.metafields.facturante.pdf_url %}
    <section class="tax-invoice">
      <h4>{{ 'customer_pages.general.order_properties.tax_invoice' | t }}</h4>
      <a href="{{ order.metafields.facturante.pdf_url }}">
        {{ 'customer_pages.view_order.download_tax_invoice' | t }}
      </a>
    </section>
  {% endif %}

  <section class="return">
    <a href="/account">{{ 'customer_pages.general.back_to_account' | t }}</a>
  </section>
</section>