<section class="customer-content-wrapper">
  <section class="complete-password-reset">
    <h2>{{ 'customer_pages.password_reset.complete.title' | t }}</h2>
    <p>{{ 'customer_pages.password_reset.complete.blurb' | t }}{{ email }}</p>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}
      <input type="password" value="" name="customer[password]" id="customer-password" class="password" size="16" placeholder="{{ 'customer_pages.general.password' | t }}" />

      <input type="password" value="" name="customer[password_confirmation]" id="password-confirmation" class="password" size="16" placeholder="{{ 'customer_pages.general.password_confirmation' | t }}" />

      <input type="submit" value="{{ 'customer_pages.password_reset.trigger.title' | t }}" />
    {% endform %}
  </section>
</section>
